<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Data Comparison</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css" />
</head>

<body>
   <h1> WORKS</h1> 
   <form method="GET" action="/comparison/">
    <div class="input-group mb-2">
        <input name="searchterm" type="text" class="form-control form-control-lg" placeholder="Enter state to compare " />
        <button class="btn btn-primary btn-lg input-group-text">Search</button>
    </div>
</form>
{{ rendered_chart|safe }}

</body>


</html>